{% extends 'base.html.twig' %}

{% block title %} Mon compte - {{parent()}} {% endblock %}

{% block body %}

    <h1>Mon compte</h1>

    <h2>{{ app.user.firstname app.user.lastname }}</h2>

{% endblock %}
