/* 
 * Font 
 */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

/* 
 * Variables 
 */ 

:root {
    --black: #1A1A1A;
    --grey: #8C8C8C;
    --white: #FFFFFF;
    --main-green: #156350;
    --secondary-green: #93C781;
    --mint-blue: #B8E0D6;
    --main-orange: #F3A208;
    --secondary-orange: #FFDB96;
}

/* 
 * Kit UI 
 */ 

.container {
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}  


.bg-primary {
    background-color: var(--main-green);
}

.title {
    margin-bottom: 36px;

    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .title {
        text-align: start;
    }
}    

.subtitle {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.product-name {
    margin-bottom: 8px;

    font-size: 1.2rem;
}

p {
    line-height: 24px;
}

/* Buttons */ 

.btn /* structure */ {
    display: inline-block;
    padding: 14px 28px;

    font-size: 1.1rem;
    color: var(--black);

    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn-primary /* color */ {
    background-color: var(--main-orange);
    box-shadow: inset 0 1px 10px #F7C15A;
}

.btn-primary:hover {
    color: var(--main-green);
    background-color: #F5B131;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Card product */

.card-product {
    width: 210px;
    height: auto;
    padding: 14px;
    margin: 0 24px 36px 0;

    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(40, 40, 40, 0.1);
}

.card-product-img {
    height: 150px;
    border-radius: 10px;
}

.card-product img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.card-product-body p {
    font-weight: 300;
}

.card-product-producer {
    color: var(--grey);
}

.card-product-cart {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 600;
}

.card-product-cart i {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--main-orange);
}