<footer>
    <div class="footer-container">
        <div class="footer-item">
            <h3>Fresh Locker</h3>
            <span></span>
            <li>
                <a href="#">À propos de nous</a>
            </li>
            <li>
                <a href="#">Nos services</a>
            </li>
            <li>
                <a href="#">Nous rejoindre</a>
            </li>
            <li>
                <a href="#">La team</a>
            </li>
        </div>

        <div class="footer-item">
            <h3>Aide</h3>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Livraison</a>
            </li>
            <li>
                <a href="#">Options de paiement</a>
            </li>
            <li>
                <a href="#">Nous contacter</a>
            </li>
        </div>

        <div class="footer-item">
            <h3>Réglementation</h3>
            <li>
                <a href="{{ path('legal_ML') }}">Mentions légales</a>
            </li>
            <li>
                <a href="{{ path('legal_CGV')}}">Conditions Générales de Vente</a>
            </li>
            <li>
                <a href="{{ path('legal_CGU')}}">Conditions Générales d'Uitilisation</a>
            </li>
        </div>

        <div class="footer-item">
            <h3>Suivez-nous !</h3>
            <ul>
                <li>
                    <div class="social-media-container">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                            <p>Facebook</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="social-media-container">
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                            <p>Instagram</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="social-media-container">
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                            <p>Twitter</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>
            Fresh Locker © - Tous droits réservés - {{ date()|date("Y")}}
        </p>
    </div>
</footer>